### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
model
libs
node_modules
node_modules
!/js/
js/app.js
js/constants.js
js/EventDispatcher.js
js/Material.js
js/MathUtils.js
js/MeshNormalMaterial.js
js/objloader.js
js/OrbitControls.js
js/three.module.js
js/Vector2.js
js/VRButton.js
node_modules
/models/

__pycache__/demo.cpython-37.pyc

__pycache__/extract_measurements.cpython-37.pyc

__pycache__/utils.cpython-37.pyc

deeplab_model/deeplabv3_pascal_trainval_2018_01_04.tar.gz

src/__pycache__/__init__.cpython-36.pyc

src/__pycache__/__init__.cpython-37.pyc

src/__pycache__/config.cpython-36.pyc

src/__pycache__/config.cpython-37.pyc

src/__pycache__/models.cpython-36.pyc

src/__pycache__/models.cpython-37.pyc

src/__pycache__/RunModel.cpython-36.pyc

src/__pycache__/RunModel.cpython-37.pyc

src/__pycache__/RunModelO.cpython-36.pyc

src/tf_smpl/__pycache__/__init__.cpython-36.pyc

src/tf_smpl/__pycache__/__init__.cpython-37.pyc

src/tf_smpl/__pycache__/batch_lbs.cpython-36.pyc

src/tf_smpl/__pycache__/batch_lbs.cpython-37.pyc

src/tf_smpl/__pycache__/batch_smpl.cpython-36.pyc

src/tf_smpl/__pycache__/batch_smpl.cpython-37.pyc

src/tf_smpl/__pycache__/projection.cpython-36.pyc

src/tf_smpl/__pycache__/projection.cpython-37.pyc

src/util/__pycache__/__init__.cpython-36.pyc

src/util/__pycache__/__init__.cpython-37.pyc

src/util/__pycache__/image.cpython-36.pyc

src/util/__pycache__/image.cpython-37.pyc

src/util/__pycache__/openpose.cpython-36.pyc

src/util/__pycache__/openpose.cpython-37.pyc

src/util/__pycache__/renderer.cpython-36.pyc

src/util/__pycache__/renderer.cpython-37.pyc

utils.pyc
