<h2>신체 변환 시뮬레이터</h2>
<hr>

    <h3>배경사진과 동일위치에서 전신사진을 촬영해주세요</h3>

    <form action="/insertInfo" enctype="multipart/form-data" method="get">
      <input type="file" name="attachments" multiple>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <hr>
